.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #D9DADC;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    background-color: rgb(255, 255, 255);
    gap: 10px;
}

.main button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    padding: 16px;
    
}

.main button:hover {
    opacity: 1;
    transform: scale(1.01);
}

.main .login {
    background-color: #1ED760;
    width: 120px;
    height: 48px;
    color: black;
    border-radius: 500px;
    border: none;
    margin-left: 200px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Inter", sans-serif;
}
h4 {
    font-size: 14px;
    text-decoration: underline;
    text-align: left;
    margin: 0;
}

.facebook {
    background-color: blue;
}

.google {
    background-color: transparent;
    border: 1px solid black;
}

.divider {
    height: 0px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #D9DADC;
    width: 100%;
    text-align: center;
    line-height: 0;
    margin-top: 16px;
}

.divider span {
    background-color: #fff;
    padding: 5px 20px;
    color: #000;
}

.main p {
    font-weight: bold;
    text-align: center;
}

.checkbox {
    display: flex;
    justify-items: space-evenly;
    align-items: center;
}

.checkbox p {
    font-size: 14px;
    font-weight: 500;
}